.button {
  background-color: var(--dark-purple);
  height: 40px;
  color: var(--white);
  border-radius: 100px;
  min-width: 89px;
  border: 0;
  cursor: pointer;
}

.button:disabled {
  cursor: not-allowed;
  background-color: var(--disable-purple);
}
