.CardWrapper {
  width: 404px;
  height: 444px;
  background-color: var(--ligth-purple);
  border: 1px solid var(--purple);
  border-radius: 8px;
  box-shadow: 0px 8px 24px var(--shadow);
  /* padding: 22px 24px 16px 24px; */
}

.FullWidth {
  width: 518px;
}

.CardTitle {
  background-color: var(--white);
  height: 72px;
  border-bottom: 1px solid var(--purple);
  padding: 0 24px 0 24px;
  display: flex;
  place-items: center;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
